.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}

.title {
  grid-template-areas: header;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #f0f0f0;
  /* Lighter gray background */
  border-bottom: 1px solid #ccc;
  /* Tiny line separating from the rest of the page */
}

.title-text {
  font-size: 34px;
  letter-spacing: 1px;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.histoApp {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.question {
  font-size: 22px;
  margin: 40px;
}

.d1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  padding: 10px 10% 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.d1 img {
  opacity: 0.5;
  /* Adjust the opacity as needed */
  filter: grayscale(100%);
  /* Convert the image to grayscale */
  cursor: not-allowed;
  /* Change cursor to indicate not allowed */
}

.d2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 10px;
}

.d3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.small-big-container {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.small {
  width: 20%;
  text-align: left;
}

.big {
  width: 20%;
  text-align: right;
}

.d4 {
  grid-row: 2 / span 3;
  grid-column: 2 / 3;
  padding: 10px;
}

.d3 h3 {
  width: 100%;
  text-align: left;
  margin: 0 0 10px 0;
}

.clusterList {
  overflow-y: scroll;
  height: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
}

.side-panel .panel-title {
  text-align: center;
  margin-bottom: 50px;
}

.side-panel .cluster-title {
  margin: 0 auto;
  width: 60%;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background: linear-gradient(to bottom right, #ee4b2b, #553c9a);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

button:hover {
  background: linear-gradient(to bottom right, #553c9a, #ee4b2b);
}

.random-contrib {
  margin: 0 auto;
  width: 60%;
  height: 80px;
  text-align: center;
  border: 3px solid #ee4b2b;
  padding: 10px;
  display: flex;
  align-items: center;
  /* Vertically center the text */
  justify-content: center;
  /* Horizontally center the text */
  border-radius: 10px;
  /* Add rounded corners */
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  /* Optional: Add a border between list items */
}

/* Slider styling */
input[type="range"].log-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 11px;
  border-radius: 5px;
  background: #a3a1a1;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  margin: 10px 0;
  width: 100%;
}

input[type="range"].log-slider:focus {
  outline: none;
}

input[type="range"].log-slider:hover {
  opacity: 1;
}

input[type="range"].log-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #7d7c79;
  background: #a3a1a1;
  border-radius: 5px;
  border: 0px solid #a3a1a1;
}

input[type="range"].log-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 2px 2px 1px #4b4a4a;
  border: 5px solid #e7e4e4;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ee4b2b;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"].log-slider:focus::-webkit-slider-runnable-track {
  background: #a3a1a1;
}

input[type="range"].log-slider::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #7d7c79;
  background: #a3a1a1;
  border-radius: 5px;
  border: 0px solid #a3a1a1;
}

input[type="range"].log-slider::-moz-range-thumb {
  box-shadow: 2px 2px 1px #4b4a4a;
  border: 5px solid #e7e4e4;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ee4b2b;
  cursor: pointer;
}

input[type="range"].log-slider::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].log-slider::-ms-fill-lower {
  background: #a3a1a1;
  border: 0px solid #a3a1a1;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #7d7c79;
}

input[type="range"].log-slider::-ms-fill-upper {
  background: #a3a1a1;
  border: 0px solid #a3a1a1;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #7d7c79;
}

input[type="range"].log-slider::-ms-thumb {
  box-shadow: 2px 2px 1px #4b4a4a;
  border: 5px solid #e7e4e4;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ee4b2b;
  cursor: pointer;
}

input[type="range"].log-slider:focus::-ms-fill-lower {
  background: #a3a1a1;
}

input[type="range"].log-slider:focus::-ms-fill-upper {
  background: #a3a1a1;
}

/* End Slider styling */